<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Oregon Trail</title>
		<link rel="stylesheet" type="text/css" href="/css/game.css">
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<div class="container">
			<h2 id="fadeMe">Press the spacebar to go back</h2>
			</div>
		<div id="gameContainer"></div>

		
		<!--<div2 class="vertical-menu">
				<a href=>Be a banker from Boston</a>
			<a href=>Be a carpenter from Ohio</a>
			<a href=>Be a farmer from Illinois</a>
			<a href=>Find out the differences between the choices</a>-->
			
			
		</div2>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
	
</html>