<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Oregon Trail</title>
		
		<link rel="stylesheet" type="text/css" href="/css/index.css">

	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		
   		
		<div class="container">
			<h1>Oregon Trail</h1>
			<div class="aggettivi">
        	<div class="text-animated-one">Press the spacebar to continue</div>    
        	 <script type="text/javascript" src="js/global.js"></script>

		</div>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
	
</html>