<!DOCTYPE html>
<html>
	<head>
		<style>
			body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
			h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: : center;}
			p{font-size: 16px; text-align: center;}
		</style>
	<head>
	<body>
		<h1>Welcome to Cameron Ulrich's Lab 3 website</h1>
		<p>I began my programming education in high school. As a freshman I visited an Intro to Programming Class and immediately enjoyed watching other students code.  I decided to take that class myself in 10th grade and a Computer Science class in 11th grade. I was totally immersed in Java. </p>
		<p>After I came to Marist I enrolled in multiple programming courses where I learned Python as well as more Java. This semester I am currently studying SQL, JavaScript, and HTML. Once I graduate I would like to work for Google and maybe even program the next Google and change the world.</p>
		<img src="images/JavaScript-logo.png" alt="HTML5 Icon" style="width:128px;height:128px;">
		<img src="images/Marist_Red_Foxes_logo.png" alt="HTML5 Icon" style="width:256px;height:128px;">
	</body>
	<script type="text/javascript">
	window.addEventListener('error', function(e) {
    console.log(e);
	}, true);
	</script>
</html>