<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Oregon Trail</title>
		
		<link rel="stylesheet" type="text/css" href="/css/index.css">

	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		
   		<embed src="music\MotivationalCinematicBackgroundMusicRoyaltyFree.mp3" autostart="true" loop="true" hidden="true">
</style>
		<div class="container">
			<h1>Oregon Trail</h1>
			<h2 id="fadeMe">Press the spacebar to continue</h2>

		</div>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
	
</html>