<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Test</title>
		<link rel="stylesheet" type="text/css" href="/css/mainmenu.css">
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<div class="container">
			<h1>Oregon Trail</h1>
			

		</div>
		<div2 class="vertical-menu">
			<a href="/">Back to Splash Screen</a>
			<a href="game">Travel the trail</a>
			<a href="help">Learn about the trail</a>
			<a href="topten">See the Oregon top 10</a>
			<a href="music">Turn Sound (Off / On)</a>
			
		</div2>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
	
</html>