<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Oregon Trail</title>
		<link rel="stylesheet" type="text/css" href="/css/mainmenu.css">
		<img src="/img/OREG_150x150-button.jpg" alt="Oregon Trail" height="400" width="400" align = left>
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<div class="container">
			<h1>Oregon Trail</h1>
			<!--<embed src="music\MotivationalCinematicBackgroundMusicRoyaltyFree.mp3" autostart="true" loop="true" hidden="true">-->


		</div>
		<div2 class="vertical-menu">
			<a href="/">Back to Splash Screen</a>
			<a href="game">Travel the trail</a>
			<a href=>Learn about the trail</a>
			<a href="topten">See the Oregon top 10</a>
			<a href=javascript:checkSound(),toggleSound();>Turn Sound (Off / On)</a>
			
		</div2>
		<script type="text/javascript" src="js/mainmenu.js"></script>
	</body>
	
</html>