<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Oregon Trail Test</title>
		<link rel="stylesheet" type="text/css" href="/css/trail.css">
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<div class="container">
		
			</div>
		
			<img id = "trailPics" src="/img/grassland.jpg" alt="Grassland" width="1450" height="600" align="middle">
			
			
			
			<div class="wagon">
			<img id = "wagon" src="/img/wagon.png"  width="125" height="100" style="position: absolute;">
			</div>

			<div class= "text">
				<ol id=\"infoBox\" >
				<li id=\"daysOnTheTrail\">Days on the Trail: <span id= "daysNumber"></span></li>
				<li id=\"milesTraveled\">Miles Traveled: <span id="milesNumber"></span></li>
				<li id=\"currentWeather\">Current Weather: <span id="weather"></span></li>
				<li id=\"currentHealth\">Current Health: <span id="groupHealth"></span></li>
				<li id=\"currentPace\">Current Pace: <span id="currPace"></span></li>
				<li id=\"currentTerrain\">Current Terrain: <span id="currTerrain"></span></li>
				<li id=\"numPartyMembers\">Number of Party Members:<span id="memberNumber"></span> </li>

				</ol>
			</div>

			<head>
      
      <script type="text/javascript">
         <!--
         	var terrainName = "";
         	var days = 0;
         	var playersAlive = 5;
         	var health = 100;
         	var milesPerDay = 0;
         	var traveledMiles = 0;
         	var theCurrentPace = "Not Moving";
         	var images = [
 			"/img/grassland.jpg",
 			"/img/mountains.jpg",
  			"/img/plains.jpg",
  			"/img/forest.jpg",
  			"/img/desert.jpg"
				];


				function getTerrain(){
					
					var imgID = document.getElementById('trailPics');
					if (imgID.src = "/img/grassland.jpg")
					{
						terrainName = "Grassland";

					}
					else if (imgID.src = "/img/mountains.jpg")
					{
						terrainName = "Mountains";

					}
					else if (imgID.src = "/img/plains.jpg")
					{
						terrainName = "Plains";

					}
					else if (imgID.src = "/img/forest.jpg")
					{
						terrainName = "Forest";

					}
					else if (imgID.src = "/img/desert.jpg")
					{
						terrainName = "Desert";

					}
				}
				


            function getValue(){
              window.paceVal = prompt("Select a Pace:\n1. Steady\n2. Strenuous\n3.Grueling\n4.Resting", "Enter number here");
               
               console.log(paceVal);
            }
            function gameValues(){
            	if(paceVal == 1){
            		milesPerDay = 20;
            		traveledMiles += 20;
            		theCurrentPace = "Steady";
            	}
            	else if(paceVal == 2){
            		milesPerDay = 25;
            		traveledMiles += 25;
         			health -= 3;
            		theCurrentPace = "Strenuous";
            	}
            	else if(paceVal == 3){
            		milesPerDay = 30;
            		traveledMiles += 30;
         			health -= 8;
            		theCurrentPace = "Grueling";
            	}
            	else if(paceVal == 4){
            		milesPerDay = 0;
            		if(health < 100){
         			health += 5;
         		}
         		else if(health > 100){
         			health = 100;
            		
         		}
         		theCurrentPace = "Resting";
            	}
            	else{
            		window.paceError = alert("That is not a valid answer!");

            	}
            	console.log(health);
         		console.log(milesPerDay);
         		console.log(traveledMiles);
            }


            function probDie(){
            	
            }


            function getWeather(){
            	//var weatherArray = ["Very Hot", "Hot", "Rain", "Cool", "Cold", "Very Cold", "Warm", "Heavy Rain", "Snow", "Blizzard", "Heavy Fog"];
            	var weather1 = ["Very Hot", "Hot", "Rain", "Cool", "Cold", "Very Cold"];
            	var weather2 = ["Warm"];
            	var weather3 = ["Heavy Rain", "Snow", "Blizzard", "Heavy Fog"];
            		window.currWeather = "Normal"
					var weatherProb = Math.random() * 1;
					if(weatherProb > 0.2){
						currWeather = "Normal";
						console.log(currWeather);
					}
					if (weatherProb <= 0.2){
					    var weatherNum = Math.floor(Math.random() * weather1.length);
					    currWeather = weather1[weatherNum];
					    console.log(currWeather);
					}
					if (weatherProb <= 0.1){
					    var weatherNum = Math.floor(Math.random() * weather2.length);
					    currWeather = weather2[weatherNum];
					    console.log(currWeather);
					}
					if (weatherProb <= 0.05){
						var weatherNum = Math.floor(Math.random() * weather3.length);
					    currWeather = weather3[weatherNum];
					    console.log(currWeather);
					}
					console.log(weatherProb);
					
            }

            function checkWeather(){
            	if(currWeather = "Normal"){
            		health += 0;
            		milesPerDay *= 0;
            	}
            	else if(currWeather = "Very Hot"){
			   		health -= 8;
			   		milesPerDay *= 0.7;
			   }
			   else if(currWeather = "Hot"){
			   		health -= 3;
			   		milesPerDay *= 0.9;
			   }
			   else if(currWeather = "Warm"){
			   		health += 1;
			   		milesPerDay *= 1;
			   }
			   else if(currWeather = "Cool"){
			   		health += 1;
			   		milesPerDay *= 0.95;
			   }
			   else if(currWeather = "Cold"){
			   		health -= 5;
			   		milesPerDay *= 0.8;
			   }
			   else if(currWeather = "Very Cold"){
			   		health -= 12;
			   		milesPerDay *= 0.7;
			   }
			   else if(currWeather = "Rain"){
			   		health -= 4;
			   		milesPerDay *= 0.6;
			   }
			   else if(currWeather = "Heavy Rain"){
			   		health -= 8;
			   		milesPerDay *= 0.4;
			   }
			   else if(currWeather = "Snow"){
			   		health -= 15;
			   		milesPerDay *= 0.3;
			   }
			   else if(currWeather = "Blizzard"){
			   		health -= 30;
			   		milesPerDay *= 0.1;
			   }
			   else if(currWeather = "Heavy Fog"){
			   		health -= 3;
			   		milesPerDay *= 0.5;
			   }
			   
            }


           


             document.onkeypress = function (e) {
    if (e.keyCode === 32) {
        getValue();
        
    }
  }
var alwaysTrue
  document.body.addEventListener("keydown", function (event) {
		    if (event.keyCode === 13)  {
		    	if(traveledMiles >= 500)
		    	{
		    		window.winMsg = alert("You have won!");
		    		window.location.replace("/mainmenu");
		    	}

		    	if(health <= 0)
		    	{
		    		window.winMsg = alert("You have lost!");
		    		window.location.replace("/mainmenu");
		    	}
		    	

		    	 




		    	getWeather();
		    	checkWeather();
		    	gameValues();
		    	getTerrain();

		    	//getTerrain();
		    	

		    	days += 1;
		    	document.getElementById('daysNumber').innerHTML = days;
		    	document.getElementById('groupHealth').innerHTML = health;
		    	document.getElementById('weather').innerHTML = currWeather;
		    	document.getElementById('milesNumber').innerHTML = traveledMiles;
		    	document.getElementById('currPace').innerHTML = theCurrentPace;
		    	document.getElementById('memberNumber').innerHTML = playersAlive;
		    	var leftStr = document.getElementById("wagon").style.left;

			   var indexOfpx = leftStr.indexOf("px");

			   var num = leftStr.substring(0, indexOfpx); // extract the number part

			   var leftSteadyPx = Number(num) - 50 + "px"; 
			   var leftStrenPx = Number(num) - 75 + "px"; 
			   var leftGruPx = Number(num) - 103 + "px"; 
			   var leftRestingPx = Number(num) - 0 + "px"; 
			  





			   if(theCurrentPace == "Steady"){
			   	document.getElementById("wagon").style.left = leftSteadyPx;
			   }
			   else if(theCurrentPace == "Strenuous"){
			   	document.getElementById("wagon").style.left = leftStrenPx;
			   }
			   else if(theCurrentPace == "Grueling"){
			   	document.getElementById("wagon").style.left = leftGruPx;
			   }
			   else if(theCurrentPace == "Resting"){
			   	document.getElementById("wagon").style.left = leftRestingPx;
			   }
			   
			   

			   //document.getElementById('currentTerrain').innerHTML = terrainName;
		    	
		    	if(paceVal != 4){

		    	var imgChange = document.getElementById('trailPics');
				
				    imgChange.src = images[Math.floor(Math.random() * images.length)];
				

				    
				}
				
		    }


		    
		});


			
  
         //-->
      </script>
      <body>
      <p>Press ENTER to travel a day or SPACEBAR to change pace!</p>
      <body>
   </head>
   
   

		<!--<input id="myInput" type="text">-->
		<!--<button id="myButton" class="float-left submit-button" >Home</button>-->





		<!--<div2 class="vertical-menu">
				<a href=>Be a banker from Boston</a>
			<a href=>Be a carpenter from Ohio</a>
			<a href=>Be a farmer from Illinois</a>
			<a href=>Find out the differences between the choices</a>-->
			<!--<input type="submit" name="a" value="click-me" onclick="setInput(this); return false;"> 
<input type="text" id="input_a">-->
			
		</div2>
		<script type="text/javascript" src="js/trail.js"></script>
		
		<script type="text/javascript" src="js/global.js"></script>
		
	</body>
	
</html>