body{background: black; font-family: verdana; color: #fff; padding: 30px;}
			h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: : center;}
			p{font-size: 16px; text-align: center;}

.container {  
  position:fixed;
  z-index: 100;  
  top:50%;  
  left:43%;  
  margin:-100px 0 0 -100px;  
  width:2000px;  
  height:2000px;  



}  

@-webkit-keyframes fade-in{
from{
    opacity:1;
    top:0px;
}
to{
    opacity:0;
    top: 0px;
}


}
.text-animated-one{
display:inline;
position:relative;
left:4%; 
top:0px;
-webkit-animation:fade-in 1s infinite;

}


.aggettivi{
display:inline;

width:100px;
height:100px;
}


